<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-cart">
  <ion-item *ngFor="let item of cartItem">
    <div>
      <ion-thumbnail slot="start">
        <img [src]="item.product.imageUrl || 'assets/imgs/prod.jpg'" />
      </ion-thumbnail>
      <ion-label slot="start">
        <h2>{{ item.product.name }}</h2>
        <h3>R$ {{ item.product.price | number: "1.2-2" }}</h3>
        <div class="quantity">
          <ion-fab-button (click)="decreaseQuantityCart(item.product)">
            <ion-icon name="remove"></ion-icon>
          </ion-fab-button>
          <p>{{ item.quantity }}</p>
          <ion-fab-button (click)="increaseQuantityCart(item.product)">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </div>
      </ion-label>
      <ion-button
        (click)="removeItem(item.product)"
        class="trash"
        fill="clear"
        style="margin-left: auto"
      >
        <ion-icon slot="icon-only" name="trash" style="color: red"></ion-icon>
      </ion-button>
    </div>
  </ion-item>
  <ion-item *ngIf="totalQuantityCart() > 0">
    <ion-label>Total</ion-label>
    <ion-label slot="end"
      >R$ {{ totalQuantityCart() | number: "1.2-2" }}</ion-label
    >
  </ion-item>
  <ion-item *ngIf="totalQuantityCart() == 0">
    <ion-label>Seu carrinho esta vazio</ion-label>
  </ion-item>

  <ion-button
    expand="block"
    color="primary"
    fill="outline"
    style="margin-top: 1rem"
    [routerLink]="['/categories']"
    >Continuar comprando</ion-button
  >
  <ion-button
    style="margin-top: 1rem"
    (click)="checkout()"
    expand="block"
    color="success"
    >Finalizar pedido</ion-button
  >
</ion-content>
