<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-singup">
  <form [formGroup]="formGroup" (ngSubmit)="signupUser()">
    <div class="formGroup">
      <ion-item>
        <ion-label position="stacked">Name *</ion-label>
        <ion-input formControlName="name" type="text"></ion-input>
      </ion-item>
      <div class="message">
        <span
          class="error"
          *ngIf="formGroup.controls['name'].dirty && formGroup.controls['name'].errors"
          >Value required</span
        >
      </div>
    </div>

    <div class="formGroup">
      <ion-item>
        <ion-label position="stacked">E-mail *</ion-label>
        <ion-input formControlName="email" type="text"></ion-input>
      </ion-item>
      <div class="message">
        <span
          class="error"
          *ngIf="formGroup.controls['email'].dirty && formGroup.controls['email'].errors"
          >Value required</span
        >
      </div>
    </div>

    <div class="formGroup">
      <ion-radio-group formControlName="type" value="1">
        <div>
          <ion-list-header>
            <ion-label>Tipo *</ion-label>
          </ion-list-header>
          <ion-item class="radio formSelect">
            <ion-label>Pessoa Física</ion-label>
            <ion-radio slot="end" color="primary" value="1"></ion-radio>
          </ion-item>
          <ion-item class="radio formSelect">
            <ion-label>Pessoa Jurídica</ion-label>
            <ion-radio slot="end" color="secondary" value="2"></ion-radio>
          </ion-item>
        </div>
      </ion-radio-group>
      <div class="message">
        <!-- <span class="error">Error in form</span> -->
      </div>
    </div>

    <div class="formGroup">
      <ion-item>
        <ion-label position="stacked">CPF ou CNPJ *</ion-label>
        <ion-input formControlName="cpfOrCnpj" type="text"></ion-input>
      </ion-item>
      <div class="message">
        <span
          class="error"
          *ngIf="formGroup.controls['cpfOrCnpj'].dirty && formGroup.controls['cpfOrCnpj'].errors"
          >Value required</span
        >
      </div>
    </div>

    <div class="formGroup">
      <ion-item>
        <ion-label position="stacked">Password *</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <div class="message">
        <span
          class="error"
          *ngIf="formGroup.controls['password'].dirty && formGroup.controls['password'].errors"
          >Value required</span
        >
      </div>
    </div>

    <div class="formGroup">
      <ion-item>
        <ion-label position="stacked">Logradouro *</ion-label>
        <ion-input formControlName="neighborhood" type="text"></ion-input>
      </ion-item>
      <div class="message">
        <span
          class="error"
          *ngIf="formGroup.controls['neighborhood'].dirty && formGroup.controls['neighborhood'].errors"
          >Value required</span
        >
      </div>
    </div>

    <div class="formGroup">
      <ion-item>
        <ion-label position="stacked">Número *</ion-label>
        <ion-input formControlName="number" type="text"></ion-input>
      </ion-item>
      <div class="message">
        <span
          class="error"
          *ngIf="formGroup.controls['number'].dirty && formGroup.controls['number'].errors"
          >Value required</span
        >
      </div>
    </div>

    <div class="formGroup">
      <ion-item>
        <ion-label position="stacked">Complemento</ion-label>
        <ion-input formControlName="complement" type="text"></ion-input>
      </ion-item>
      <div class="message">
        <!-- <span class="error">Error in form</span> -->
      </div>
    </div>

    <div class="formGroup">
      <ion-item>
        <ion-label position="stacked">Bairro</ion-label>
        <ion-input formControlName="district" type="text"></ion-input>
      </ion-item>
      <div class="message">
        <!-- <span class="error">Error in form</span> -->
      </div>
    </div>

    <div class="formGroup">
      <ion-item>
        <ion-label position="stacked">CEP *</ion-label>
        <ion-input formControlName="zipCode" type="text"></ion-input>
      </ion-item>
      <div class="message">
        <span
          class="error"
          *ngIf="formGroup.controls['zipCode'].dirty && formGroup.controls['zipCode'].errors"
          >Value required</span
        >
      </div>
    </div>

    <div class="formGroup">
      <ion-item>
        <ion-label position="stacked">Telefone *</ion-label>
        <ion-input formControlName="phone1" type="text"></ion-input>
      </ion-item>
      <div class="message">
        <span
          class="error"
          *ngIf="formGroup.controls['phone1'].dirty && formGroup.controls['phone1'].errors"
          >Value required</span
        >
      </div>
    </div>

    <div class="formGroup">
      <ion-item class="formSelect">
        <ion-label>Estado *</ion-label>
        <ion-select
          placeholder="Estados"
          (ionChange)="updateCities()"
          formControlName="stateId"
        >
          <ion-select-option *ngFor="let state of states" [value]="state.id"
            >{{state.name}}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <div class="message">
        <!-- <span class="error">Error in form</span> -->
      </div>
    </div>

    <div class="formGroup">
      <ion-item class="formSelect">
        <ion-label>Cidade *</ion-label>
        <ion-select placeholder="Cidades" formControlName="cityId">
          <ion-select-option *ngFor="let city of cities" [value]="city.id"
            >{{city.name}}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <div class="message">
        <!-- <span class="error">Error in form</span> -->
      </div>
    </div>

    <ion-button
      type="submit"
      expand="block"
      color="primary"
      style="margin: 1rem 0"
      [disabled]="formGroup.invalid"
      >Registrar</ion-button
    >
  </form>
</ion-content>
