ion-content.page-product-detail {
  --padding-start: 16px;
  --padding-end: 16px;
  --padding-top: 16px;
  --padding-start: 16px;
  ion-card {
    margin-inline: 4px;
    padding: 1rem;
    img {
      width: 100%;
      border-radius: 0.5rem;
    }
    ion-card-title {
      font-weight: bold !important;
      font-size: 1.5rem;
    }
    ion-card-subtitle {
      font-weight: 400 !important;
      font-size: 1rem;
    }
  }
}
