<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="my-content">
  <ion-text>
    <h1>Ionic Menu Starter</h1>
  </ion-text>
  <ion-text>
    <p>
      If you get lost, the
      <a href="https://ionicframework.com/docs">docs</a> will show you the way
    </p>
  </ion-text>
  <ion-menu-toggle>
    <ion-button menuToggle>Toggle Menu</ion-button>
  </ion-menu-toggle>
</ion-content>
