<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="home-page">
  <ion-text>
    <h1>Sistema de Pedidos</h1>
    <ion-img src="assets/imgs/slide-2.png"></ion-img>
  </ion-text>
  <form>
    <ion-item class="input-group">
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item class="input-group">
      <ion-label position="stacked">passowrd</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-button (click)="login()" expand="block" color="primary"
      >Login</ion-button
    >
    <ion-button expand="block" color="primary" fill="outline"
      >Registrar</ion-button
    >
  </form>
</ion-content>
