<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Categorias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="app-categories">
  <ion-list
    *ngFor="let category of categories"
    (click)="showProducts(category)"
  >
    <ion-item button detail="false">
      <ion-thumbnail slot="start">
        <img src="{{bucketUrl}}/cat{{category.id}}.jpg" />
      </ion-thumbnail>
      <ion-label>{{category.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
